* {
    margin: 0;
}

html {
    background-color: rgb(10, 121, 60);
}

#title {
    text-align: center;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 25px;
}

img {
    width: 60px;
    height: 40px;
    margin-top: 25px;
    margin-right: 20px;
}

#header {
    display: flex;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
    width: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

select {
    width: 30%;
}

label {
    color: rgb(255, 255, 255);
    -webkit-text-stroke: black;
    -webkit-text-stroke-width: 0.1px;
    font-size: 20px;
}

#manufacturer {
    margin-bottom: 15px;
}

#color {
    margin-bottom: 15px;
}

#text {
    margin-bottom: 15px;
}

fieldset {
    display: flex;
    flex-direction: column;
}

#driveOptions {
    display: flex;
    flex-direction: column;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}

#driveTitle {
    font-size: 30px;
    color: rgb(253, 250, 45);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: block;
}

#commentsLabel {
    color: whitesmoke;
    background-color: darkgreen;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
}

#commentArea {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
}

#question {
    color: white;
    font-size: 26px;
    font-weight: bold;
    margin-top: 15px;
}

#questionArea {
    display: flex;
    flex-direction: column;
}

#timeLabel {
    font-size: 25px;
    font-weight: bold;
    margin-top: 20px;
    display: inline-block;
}

#submit {
    margin-top: 20px;
    width: 100px;
    height: 50px;
    background-color: greenyellow;
    cursor: pointer;
    color: black;
    font-size: 25px;
    font-weight: bold;
    border-radius: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

#submit:hover {
    background-color: rgb(100, 161, 7);
}

@media only screen and (max-width: 1060px) {
    #commentArea {
        width: 300px;
    }
}

@media only screen and (max-width: 650px) {
    #commentArea {
        width: 250px;
    }

    #driveOptions {
        width: 200px;
    }
}